<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>AutoNotif</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" media="screen" title="no title">
    <link rel="stylesheet" href="./css/style.css" media="screen" title="no title">
</head>
<body>
  <header>
    <h1>AutoNotif</h1>
    <ul>
      <li>Login</li>
      <li>Register</li>
    </ul>
  </header>
  <div class="container">
    <h1>Welcome to AutoNotif</h1>
  </div>

  <script src="./js/main.js" charset="utf-8"></script>
</body>
</html>
