<!DOCTYPE html>
<html>
<head>
  <% title= 'Login'; %>
  <% include ./partials/head %>
</head>
<body>
  <% include ./partials/header %>

  <div class="container">
    <h1 class="welcome">Log In</h1>
    <form class="login-form" action="/login" method="post">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="username" value="">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" value="">
      </div>
      <button type="submit" name="submit">Log In</button>
    </form>
  </div>

</body>
</html>
