<!DOCTYPE html>
<html>
<head>
  <% title= 'Tokens'; %>
  <% include ./partials/head %>
</head>
<body>
  <% include ./partials/header %>
    <h1>Tokens</h1>
    <button id="new_token" type="button" name="button">New</button>

    <div class="tokens">

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $('#new_token').click(function() {
            $.get('api/v1/tokens/new', newToken)

        })

        $.get('api/v1/tokens', addTokens)

        function newToken(data, success) {
            if(success) {
                $.get('api/v1/tokens', addTokens)
            }
        }

        function addTokens(data, status) {
            if(status !== 'success') {
                $('.tokens').html('Failed to get tokens');
                return;
            }
            $('.tokens').html('');
            for (var i = 0; i < data.length; i++) {
                $('.tokens').append('<div>' + data[i].name + ' ' + data[i].token + '</div>');
            }
        }
    </script>
</body>
</html>
