<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>AutoNotif</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

</head>
<body>

    <h1>Tokens</h1>
    <button id="new_token" type="button" name="button">New</button>

    <div class="tokens">

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $('#new_token').click(function() {
            $.get('api/v1/tokens/new', newToken)

        })

        $.get('api/v1/tokens', addTokens)

        function newToken(data, success) {
            if(success) {
                $.get('api/v1/tokens', addTokens)
            }
        }

        function addTokens(data, status) {
            if(status !== 'success') {
                $('.tokens').html('Failed to get tokens');
                return;
            }
            $('.tokens').html('');
            for (var i = 0; i < data.length; i++) {
                $('.tokens').append('<div>' + data[i].name + ' ' + data[i].token + '</div>');
            }
        }
    </script>
</body>
</html>
